body
{
    background-image: linear-gradient(lightblue, violet);
    width: 100%;
    margin: 0 auto;
    min-width: 400px;
    max-width: 2000px;
}

.container
{
    display: inline; 
    width: 80%;
    height: 500px;
    margin: 20px;
    padding: 20px;
    justify-content: space-around;
    align-items: flex-end;
}

#uno, #dos, #tres
{
    width: 320px;
    height: 470px;
    background-color: lightgray;
    border-radius: 10px;
    box-shadow: 10px 10px 10px #999;
    margin-left: 2%;
    /*position: relative;*/
}

#cuatro
{
    width: 320px;
    height: 470px;
    background-color: lightgray;
    border-radius: 10px;
    box-shadow: 10px 10px 10px #999;
    margin-left: 2%;
}

#uno, #cuatro
{

}

img
{
    /*border-radius: 10px; */
    /*
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    */
    border-radius: 10px 10px 0px 0px;
    border-bottom: red 2px;
}

p
{
    padding: 10px;
    text-align: justify;
    font-size: 20px;
}

.botonRojo
{
    background-color: red;
    border: none;
    text-decoration: none;
    text-align: center;
    font-size: 12px;
    padding: 15px 32px;
    color: white;
    margin-left: 20px;
}

.botonRojo:hover
{
    background-color: coral;
    color: blueviolet;
}

.botonVerde
{
    background-color: green;
    border: none;
    text-decoration: none;
    text-align: center;
    font-size: 12px;
    padding: 15px 32px;
    margin-left: 15px;
    margin-top: 30px;
}

.botonVerde:hover
{
    background-color: coral;
    color: blueviolet;
}

h1
{
    text-align: center;
    font-family: 'Qwitcher Grypen', cursive;
}

#uno, #cuatro
{
    display: inline-flexbox;
}

#png
{
    margin-top: 20%;
    margin-left: 45%;
    width: 5%;
    height: 5%;
}